<div class="bg-gray-200 min-h-screen">
  <div class="max-w-3xl mx-auto">
    <div class="flex flex-row justify-around  px-6 py-4">
      <div>
        <img src="https://avatarfiles.alphacoders.com/148/148526.png" class="rounded-full my-5 h-32 w-32 border-solid border-4 border-black">
      </div>
      <div class="border-solid border-2 border-black-400 p-3">
        <div class="flex justify-start">
          <h3 class="text-black text-3xl font-bold py-3 pr-3">Mary Fen</h3>
          <button class=" text-sm text-black-500 rounded border-b-2 border-yellow-500 "> Edit Profile</button>
        </div>
        <div class="flex justify-between">
          <div class="pr-4">
            <h3 class="font-bold">14 <span class="font-normal">Posts</span></h3>
          </div>
          <div class="pr-4">
            <h3 class="font-bold">324 <span class="font-normal">Followers</span></h3>
          </div>
          <div>
            <h3 class="font-bold">412 <span class="font-normal">Following</span></h3>
          </div>
        </div>
        <h3 class="pt-1">
          This is my Insta Page
        </h3>
        <h3 href="www.fg.com" class="text-blue-700 pt-1">www.maryfen.com</h3>
      </div>
    </div>
  </div>

  <hr class="border-gray-500 mt-6" />

  <div class="flex justify-around max-w-md mx-auto my-4">
    <button class="text-md font-bold text-gray-800 mr-2">POSTS</button>
    <button class="text-md font-bold text-gray-800 mr-2">IGTV</button>
    <button class="text-md font-bold text-gray-800 mr-2">SAVED</button>
    <button class="text-md font-bold text-gray-800 mr-2">TAGGED</button>

  </div>
  <div class=" flex flex-wrap max-w-3xl mx-auto py-4 justify-between">
    <img class="mr-2 h-56 w-56" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" />
    <img class="mr-2 h-56 w-56" src="https://cdn.pixabay.com/photo/2014/02/27/16/10/spring-276014_960_720.jpg" />
    <img class=" h-56 w-56" src="https://cdn.pixabay.com/photo/2015/04/19/08/33/flower-729512_960_720.jpg" />

  </div>
</div>